<script>
$(document).ready(function() {
  $(window).scroll(function(e){
    parallax();
  });
  function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('top',-(scrolled*0.2)+'px');
  }
});
</script>
<div class="bg"></div>
<section>
  <h1>Profile page</h1>
</section>
