

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self


 */

// @import "sass/lib/bourbon/_bourbon.scss";
// @import "sass/lib/neat/_neat.scss";
@import 'bourbon';
@import 'neat';

$font-stack:    Helvetica, sans-serif;
$primary-color: silver;
$nav-color: #a7e0ee;
$author-color: #4d94ff;


body {
  font: 100% $font-stack;
  color: black;
  background-color: $primary-color;
  margin: 0;
}


.header{
  @include outer-container();

  h1{
    @include span-columns(12);
    text-align: center;
    color: black;
    font-size: 40px;
    text-transform: uppercase;
  }
  a{
    @include span-columns(12);
  }
}

#main{
  h2{
    @include span-columns(12);
    color: black;
    text-transform: uppercase;
    border-bottom: 10px solid red;
    font-size: 1.3em;
    padding-bottom: 4px;
    display: inline-block;
  }
  img{
    width: 345px;
    height: 220px;
  }
}

// #main{
//   @include outer-container();
//   background-color: #333
// }

// #top-row{
//   @include span-columns(12);
// }

// #red{
//   background-color: red;
//   @include span-columns(4);
//   @include omega(3n);
// }

// #orange{
//   background-color: orange;
//   @include span-columns(4 of 12);
// }

// #yellow{
//   background-color: yellow;
//   @include span-columns(4 fo 12);
// }

// // WHAT DOES THIS DO? -> Allows stacking for smaller screens
// #red, #orange, #yellow{
//   @media screen and (max-width: 768px){
//     @include span-columns(12 for 12);
//   }
// }

// #middle-row{
//   @include span-columns(12);
// }

// #green{
//   background-color: green;
//   @include span-columns(4 of 12);
// }

// #blue{
//   background-color: blue;
//   @include span-columns(4 of 12);
// }

// #bottom-row{
//   @include span-columns(12);
// }

// #indigo{
//   background-color: indigo;
//   @include span-columns(4 of 12);
//   @include shift(8 of 12);
// }

#main{
  @include outer-container();
}

.row {
  @include span-columns(12);
  margin-bottom: 3px;
  border-bottom: 2px solid black;

  img{
    @include span-columns(4 of 12);
  }
}

.row_content{
  @include span-columns(8);
  a{
    margin-top: 0;
    font-size: 40px;
    vertical-align: top;
    word-wrap: break-word;
    text-decoration: none;
    color: black;
    &:hover{
    color: red;
    }
  }
  h6{
    text-transform: uppercase;
    color: $author-color;
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 0;
  }
}

// LOGIN/REGISTRATION
// .register{
//   @include span-columns(6 of 12);
//   text-align: center;
//   display: inline-block;
//   p{
//     color: black;
//   }
// }

// .login{
//   @include span-columns(5 of 12);

// }

// #main{
//     @include span-columns(10);
//     @include shift(2 of 12)
// }

// USER/NEW PAGE NAV BAR
.nav-main{
  @include span-columns(12 of 12);
  width: 100%;
  background-color: #222;
  height: 70px;
  color: #fff;
}

  .logo{
    float: left;
    height: 40px;
    padding: 15px 30px;
    font-size: 1.4em;
    line-height: 40px;
  }

  .nav-main > ul{
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
  }

  .nav-main > ul > li{
    float: left;
  }

  .nav-item{
    display: inline-block;
    padding: 15px 20px;
    height: 70px;
    line-height: 40px;
    color: white;
    text-decoration: none;
    &:hover{
    background-color: #444;
  }
}

#profile{
}

.nav-content{
  position: absolute;
  top: 70px;
  overflow: hidden;
  background-color: #222;
  max-height: 0;
}

.nav-sub{
  padding: 20px;
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  a{
    display: inline-block;
    padding: 5px 0;
    color: white;
    text-decoration: none;
  }
}

.nav-item:focus{
  background-color: #444
}

.nav-item:focus ~ .nav-content{
  max-height: 400px;
  -webkit-transition: max-height 0.4s ease-in;
  -moz-transition: max-height 0.4s ease-in;
  transition: max-height 0.4s ease-in;
}

// USERS/SHOW
// .bg {
//   background: url('http://www.cgarchitect.com/content/portfolioitems/2012/11/64597/GYM_Hi-RES_jpg_medium.jpg') no-repeat center center;
//   opacity: 0.6;
//   background-size: 100%;
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   top:0;
//   left:0;
//   z-index: -1;
// }
section {
  font-size: 20px;
  color: black;
  font-family: arial;
  width: 500px;
  margin: auto;
  line-height: 20px;
  font-size: 16px;
}

//WORKOUTS/NEW FORM

.create_workout{
  h1{
    color: #09C;
  }
  form {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 550px;
  height: 550px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }

  input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }

  textarea#content {
  width: 375px;
  height: 150px;
  display: block;
  }

  .create {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
  }
}

  input.create:hover {
  background: #fff;
  color: #09C;
  }

//WORKOUTS/SHOW
.read_workout{
  @include outer-container();
  h2{
    @include span-columns(12);
    text-align: center;
    border-bottom: 2px solid red;
  }
}

.create_tag{
  @include span-columns(12);
  form{
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 550px;
  height: 250px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);  }

  h1{
    text-align: center;
  }

  .create {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
  }

  input.create:hover {
  background: #fff;
  color: #09C;
  }
}

//Login Page
.bg {
  background: url('http://www.cgarchitect.com/content/portfolioitems/2012/11/64597/GYM_Hi-RES_jpg_large.jpg') no-repeat center center;
  opacity: 0.8;
  background-size: 100%;
  position: fixed;
  width: 100%;
  height: 90%;
  top:0;
  left:0;
  z-index: -1;
}
.header_login{
  @include outer-container();
  // h1{
  //   @include span-columns(12);
  //   text-align: center;
  //   color: black;

  //   font-size: 70px;
  //   font-family: MS Serif, New York, serif;
  // }
  .main_pic{
    @include span-columns(12);
    vertical-align: center;
    background-size: 70px;
    margin-top: 100px;
  }
}
.login_main{
  @include outer-container();
}

.login_row{
  @include span-columns(12);
}

  .register{
    @include span-columns(6 of 12);
    h2{
      color: #09C;
    }
    form {
    margin-top: 450px;
    background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    // margin: auto;
    // position: relative;
    width: 550px;
    height: 550px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #09C;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }
  }

  .login{
    @include span-columns(6);
    form{
    margin-top: 450px;
    background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    // margin: auto;
    // position: relative;
    width: 550px;
    height: 550px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #09C;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }
  }
